clouds:
  openstack:
    auth:
      auth_url: "{{ lookup('env','OS_AUTH_URL') }}"
      username: "{{ project }}_admin"
      password: "admin123"
      project_id: "{{ project_id.projects | map(attribute = 'id') | first }}"
      project_name: "{{ project }}"
      user_domain_name: "Default"
    region_name: "regionOne"
    interface: "public"
